{% extends "layouts/main.html" %}

{% set pageName = "When did the encounter happen?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["encounter-date"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["encounter-date"], href: "#encounter-date" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukInput({
      id: "encounter-date",
      name: "encounter-date",
      label: {
        text: "When did the encounter happen?",
        isPageHeading: true,
        classes: "govuk-label--l"
      },
      hint: { text: "For example, 27 3 2024 or March 2024 if you cannot remember the exact date" },
      errorMessage: errors["encounter-date"] if errors else null,
      value: data["encounter-date"]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
